<h1>Voici quelques informations sur le mariage</h1>

<div class="text-center">
  <h2>Le mariage sera le 14 Avril 2018</h2>
  <p>La cérémonie se tiendra à 15h à l'Eglise de l'Alpe d'huez</p>
  <p>Elle sera suivi d'un cocktail à 18h</p>
</div>

<div class="button_in text-center">
  <%= link_to 'Remplir le formulaire', new_guest_path %>
</div>

